{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
<div class="container" style="background-image: url({{asset('images/booklab.jpg')}});">
  <br><br> <br><br><br> <hl class="display-4" style="color:white;">Bienvenue</hl><br>
      <br><hl class="display-4"  style="color:white;">vous êtes connecté à la page d'administration</hl>
 
</div>
{% endblock %}

